* {
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: normal;
  }

  body {
    font-size: 2rem;
  }

  #products-section-title {
    min-height: 30vh;
    font-size: 5rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

#announcement {
    background-color: #CCE3FF;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
  }

  header {
    background-color: white;
    width: 100%;
  }

  #header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  button {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  }

  .buy-button {
    justify-self: flex-end;
  }

#cart-section {
  display: none;
  width: 100%;
  padding: 2rem;
  min-height: 30vh;
  background-color: #CCE3FF;
  transition: 1s;
}

#cart-article {
  margin-top: 2rem;
  width: 100%;
}


#product-line, #total-line {
  padding: 1rem 4rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-top: black 1px solid;

}

#total-line {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 900;
}

#banner-section {
  padding: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 50vh;
  background-color: lightgray;
  background-image: url(./img/cup5.png);
  background-size: contain;

}


#product-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#products-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    min-height: 30vh;
    width: 100%;
}

#products-header {

  padding: 2rem;
}



#products-article {
    flex-direction: column;
    justify-content: left;
    align-items: center;
    min-height: 30vh;
}

#filter-header {
  cursor: pointer;
}

.filter-item {
  cursor: pointer;
   border-top: black 1px solid;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-self: center;
}

#products-article-filter {
  display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
}

#filter {
  display: none;
  padding: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(100px);
  grid-gap: 2rem;
}

#products-filter-origin, #products-filter-brew, #products-filter-roast, #products-filter-notes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}


#products-article-grid {
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(100px);
    grid-gap: 2rem;
}

#product-item {
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem;
    background-color: #CCE3FF;
}

#product-item img {
    background-color: white;
    max-width: 100%;
    border-radius: 0.1rem;
}


footer {
    padding: 0.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 30vh;
    background-color: lightgray;
}
